body
{
    margin: 0px;
    padding: 0px;
}
h4
{
    /* fixed bu mishkani paska tushirsa ham uyam tushadi */
    position: fixed;
    font-size: 25px;
    left:95%;
}

h4:hover
{
    color:red;
    font-size: 35px;
    text-decoration: underline;
}

/* .content
{
    width: 50px;
    height: 50px;
    margin: auto;
    background: red;
} */

.box1
{
    width: 100%x;
    height: 50px;
    margin: 15px;
    margin: 20px;
    background:cyan;
    border-style: dashed;
}

.box1 p
{
    color:red;
    text-align: center;
    text-transform:uppercase;
}

.h1
{
    color:red;
    text-align: center;
    text-shadow: -1px 0px blue, 1px 0px 2px red;
    text-decoration: underline;
}

.p
{
    text-transform:uppercase;
    color: green;
}
#heading
{
    color:chocolate;
    font-size: 20px;
}
.red
{
    color:red;
}
input[type="text"]
{
    height: 35px;
    border: 2px dotted red;
    width: 300px;
}
/*
> shu belgi hammasiga tegishli blok yopilgunicha
+ shu belgi blok yopilib boshqa blok ochilsa shunga tegishli
*/
.container > div 
{
    background: green;
    margin: 20px;
    padding: 20px;
    color: white;
}
/* hover bu mishkani olib borganda
rangi o`zgarishidir
*/ 
.h3:hover
{
    color:red;
}
.h3::after
{
    content: " Ibrohim";
}
/*
agar before bilan after contentiga rang berilsa qizil ularga ta`sir qilmaydi
*/
.h3::before
{
    content: "Ibrohim ";
}
.div::after
{
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background:chocolate;
    border-radius: 50%;
}
.block
{
    float: left;
    /* float: left; new block 1 chapdam
    new block 2 o`ngdan 50% joyni egallaydi */
    width: 33,3%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: 1px solid black;
    background-color:rgb(58, 58, 58);
}
.clr
{
    clear: both;
}
.box
{
    width: 500px;
    height: 250px;
    background-color:rgb(168, 106, 106);
    color: white;
    padding: 15px;
    border: 5px solid black;
}
.abc
{
    /* display inline bu 2 ta satrni bitta qilib beradi
    hozir natija yonma-yon Salom Ibrohim chiqadi */
    display: inline;
}
.bc
{
    width: 200px;
    height: 200px;
    background-color: yellow;
    /* inline-block bu blocklarni
    yonma-yon qilib beradi */
    display: inline-block;
    border: 1px solid black;
}
.pos
{
    width: 300px;
    height: 300px;
    border: 3px dashed black;
    background-color: rgb(80, 141, 80);
    position: relative;
    top: -50px;
    left: 20px;
}
.pos h3
{
    color: white;
    position: absolute;
    top: 75%;
    left: 75%;
}